.merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: radial-gradient(circle, #3023AE, #100C46);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.site-logo {
    position: fixed;
    margin: 20px;
    top: 0;
    height: 10rem;
    width: 17rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Merriweather", serif;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-family: "Merriweather", serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.weather-card {
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    width: 300px;
    height: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    color: #333;
    text-align: left;
    margin-bottom: 3rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
}

button[type="submit"] {
    width: 100%;
    padding: 1rem;
    background-color: #3023AE;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #100C46;
}